{% extends 'students/base.html' %}
{% load static from staticfiles %}
{% block meta_title %}Groups list {% endblock meta_title %}
{% block title %}Groups list {% endblock title %}
{% block content %}
<a href="{% url 'students_add' %}" class="btn btn-primary">Add Student</a>
<div>This will be table students</div>
<!-- Start Students Listing -->
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>N</th>
      <th>Photo</th>
      <th>Last name &uarr;</th>
      <th>Name</th>
      <th>N billet</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><img src="{% static student.image %}" alt="photo" height="30" width="30" class="img-circle"></td>
      <td><a href="{% url 'students_edit' student.id %}" title="Edit">{{ student.last_name }}</a></td>
      <td><a href="{% url 'students_edit' student.id %}" title="Edit">{{ student.first_name }}</a></td>
      <td>{{ student.ticket }}</td>
      <td>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle='dropdown'>Actions</button>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="/journal/1" role="menuitem" tabindex="-1">Journal</a></li>
            <li role="presentation"><a href="{% url 'students_edit' student.id %}" role="menuitem" tabindex="-1">Edit</a></li>
            <li role="presentation"><a href="{% url 'students_delete' student.id %}" role="menuitem" tabindex="-1">Delete</a></li>
          </ul>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<nav>
  <ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li class="active"><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</nav>
{% endblock content %}
